<div [ngClass]="{block_kiev:true}">
    <h2 style="text-align: center">Kiev</h2>
        <div [ngClass]="{clock_kiev:true}">
            <article [ngClass]="{simple_kiev:true}">
                  <div [ngClass]="{hours_container_kiev:true}">
                    <div [ngClass]="{hours_kiev:true}"></div>
                  </div>
                  <div [ngClass]="{minutes_container_kiev:true}">
                    <div [ngClass]="{minutes_kiev:true}"></div>
                  </div>
                </article>
        </div>
        <p id="txt_kiev"></p>
</div>
