<div [ngClass]="{block_london:true}">
    <h2 style="text-align: center">London</h2>
        <div [ngClass]="{clock_london:true}">
            <article [ngClass]="{simple_london:true}">
                  <div [ngClass]="{hours_container_london:true}">
                    <div [ngClass]="{hours_london:true}"></div>
                  </div>
                  <div [ngClass]="{minutes_container_london:true}">
                    <div [ngClass]="{minutes_london:true}"></div>
                  </div>
                </article>
        </div>
        <p id="txt_london"></p>
</div>
