<div [ngClass]="{block_ny:true}">
    <h2 style="text-align: center">New York</h2>
        <div [ngClass]="{clock_ny:true}">
            <article [ngClass]="{simple_ny:true}">
                  <div [ngClass]="{hours_container_ny:true}">
                    <div [ngClass]="{hours_ny:true}"></div>
                  </div>
                  <div [ngClass]="{minutes_container_ny:true}">
                    <div [ngClass]="{minutes_ny:true}"></div>
                  </div>
                </article>
        </div>
        <p id="txt_ny"></p>
</div>
