
<div [ngClass]="{block:true}">
    <h2 style="text-align: center">{{nameCity}}</h2>
        <div [ngClass]="{clock:true}">
            <article [ngClass]="{simple:true}">
                  <div [ngClass]="{hours_container:true}">
                    <div [ngClass]="{hours:true}"></div>
                  </div>
                  <div [ngClass]="{minutes_container:true}">
                    <div [ngClass]="{minutes:true}"></div>
                  </div>
                </article>
        </div>
        <p id="txt"></p>
</div>
